/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html, body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/************** Main Styles **********************/
@font-face {
  font-family: 'CocktailScriptMedium';
  src: url('resources/font_fam/cocktail_script-webfont.eot');
  src: local('?'), url('resources/font_fam/cocktail_script-webfont.woff') format('woff'), url('resources/font_fam/cocktail_script-webfont.ttf') format('truetype'), url('resources/font_fam/cocktail_script-webfont.svg#webfontpkChblho') format('svg');
  font-weight: normal;
  font-style: normal;
}
header,
footer,
article,
section,
hgroup,
nav,
figure {
  /* Giving a display value to the HTML5 rendered elements: */

  display: block;
}
body {
  /* Setting the default text color, size, page background and a font stack: */

  font-size: 0.825em;
  color: #fcfcfc;
  background-color: #355664;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  border: 0;
}
/* Hyperlink Styles: */
a {
  color: #0196e3;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: underline;
}
a img {
  border: none;
}
/* Headings: */
h2, h3 {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  text-shadow: 0 1px 1px black;
}
h1 {
  /* The logo text */

  font-family: 'CocktailScriptMedium', sans-sarif;
  font-style: normal;
  font-size: 4.5em;
  font-weight: bold;
  text-shadow: 0 1px 1px black;
}
h2 {
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 0.01em;
}
h3 {
  font-size: 1.25em;
}
p {
  line-height: 1.5em;
  padding-bottom: 1em;
}
/* The dividing line: */
.line {
  height: 1px;
  background-color: #24404c;
  border-bottom: 1px solid #416371;
  margin: 1em 0;
  overflow: hidden;
}
/* The dividing line inside of the article is darker: */
article .line {
  background-color: #15242a;
  border-bottom-color: #204656;
  margin: 1.3em 0;
}
footer .line {
  margin: 2em 0;
}
nav {
  background: url(../resources/img/gradient_light.jpg) repeat-x 50% 50% #f8f8f8;
  padding: 0 5px;
  position: absolute;
  right: 0;
  top: 1em;
  border: 1px solid #FCFCFC;
  box-shadow: 0 1px 1px #333333;
  -moz-box-shadow: 0 1px 1px #333333;
  -webkit-box-shadow: 0 1px 1px #333333;
}
/* The clearfix hack to clear the floats: */
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* The navigation styling: */
nav ul li {
  display: inline;
}
nav ul li a {
  color: #565656;
  display: block;
  float: left;
  font-size: 1.25em;
  font-weight: bold;
  margin: 5px 2px;
  padding: 7px 10px 4px;
  text-shadow: 0 1px 1px white;
  text-transform: uppercase;
}
nav ul li a:hover {
  text-decoration: none;
  background-color: #f0f0f0;
}
nav,
article,
nav ul li a,
figure {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
/* Section styles: */
#page {
  width: 960px;
  margin: 0 auto;
  position: relative;
  clear: both;
}
article {
  background-color: #213e4a;
  margin: 3em 0;
  padding: 20px;
  text-shadow: 0 2px 0 black;
}
#article1 p {
  width: 55%;
  margin: 0 1em 0 0;
  float: left;
  line-height: 150%;
}
article img {
  margin: 0em 1em 0em 0em;
  float: left;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#article1 img {
  margin: 1em 1em 0em 0em;
  float: left;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
article a {
  color: #cccccc;
  background-color: #213e4a;
}
article a:hover {
  text-decoration: none;
  background-color: #142830;
}
article a.up {
  float: right;
}
article a.by {
  float: left;
}
#chart_div {
  width: 225px;
  height: 100%;
  float: left;
}
/* Form */
#formContainer {
  margin: 0 auto;
  width: 650px;
  position: relative;
}
#contactForm {
  margin: 0 auto;
  width: 560px;
}
ul li {
  list-style: none;
  margin: 10px 0 0 0;
}
input, textarea {
  width: 560px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px #FFF;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#submit {
  width: 100px;
  float: right;
  color: #565656;
  background-color: #f8f8f8;
  text-shadow: 0 1px 1px white;
  text-transform: uppercase;
}
#submit:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #f0f0f0;
}
#thankYou {
  margin: 0 auto;
  width: 560px;
}
/* Footer styling: */
footer {
  margin-bottom: 30px;
  text-align: center;
  font-size: 0.825em;
}
footer p {
  margin-bottom: -2.5em;
  position: relative;
}
footer a {
  color: #fff;
  display: block;
  padding: 2px 4px;
  z-index: 100;
  position: relative;
}
footer a:hover {
  text-decoration: none;
}
footer a.by {
  float: left;
}
footer a.up {
  float: right;
}
/* Slideshow Portfolio Styling */
/*** Slideshow style rules ***/
#slideshow {
  margin: 0 auto;
  width: 650px;
  height: 263px;
  position: relative;
}
#slideshow #slidesContainer {
  margin: 0 auto;
  width: 560px;
  height: 263px;
  overflow: auto;
  /* allow scrollbar */

  position: relative;
}
#slideshow #slidesContainer .slide {
  margin: 0 auto;
  width: 540px;
  /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */

  height: 263px;
}
.slide h2, .slide p {
  margin: 15px auto;
}
.slide p {
  text-indent: 1em;
}
.slide h2 {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  text-shadow: 0 1px 1px black;
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 0.01em;
}
.slide img {
  float: right;
  margin: 0 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
/*** Slideshow controls style rules ***/
.control {
  display: block;
  width: 39px;
  height: 263px;
  text-indent: -10000px;
  position: absolute;
  cursor: pointer;
}
#leftControl {
  top: 0;
  left: 0;
  background: transparent url(resources/img/control_left.png) no-repeat 0 0;
}
#rightControl {
  top: 0;
  right: 0;
  background: transparent url(resources/img/control_right.png) no-repeat 0 0;
}
